<footer class="footer">
  <div class="container">
    <nav class="footer__menu">
      <ul class="footer__menu-list">
        <li class="footer__menu-item">
          <h3 class="footer__menu-headline">Products</h3>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Used</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">New</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Buy</a>
        </li>
      </ul>

      <ul class="footer__menu-list">
        <li class="footer__menu-item">
          <h3 class="footer__menu-headline">Resources</h3>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Blog</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">FAQ</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Contact us</a>
        </li>
      </ul>
      <ul class="footer__menu-list">
        <li class="footer__menu-item">
          <h3 class="footer__menu-headline">Registration and Services</h3>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">The Kennel Club Pet</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Partners</a>
        </li>
      </ul>
      <ul class="footer__menu-list">
        <li class="footer__menu-item">
          <h3 class="footer__menu-headline">About us</h3>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">About the Kennel Club</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Job opportunities</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="#">Our Facillties</a>
        </li>
      </ul>
    </nav>


    <div class="footer__copy">
      <p>
        Copyright © The Kennel Club Limited 2023. The unauthorised reproduction of text and images is strictly prohibited.
      </p>
      <p>
      
        By accessing this website, you agree to the TrueCar Terms of Service and
        Privacy Policy.
      </p>
    </div>

    <nav class="copy__nav">
      <ul class="copy__nav-list">
        <li class="copy__nav-item">
          <a class="copy__nav-link" href="#">Terms of Service</a>
        </li>
        <li class="copy__nav-item">
          <a class="copy__nav-link" href="#">Privacy Policy</a>
        </li>
        <li class="copy__nav-item">
          <a class="copy__nav-link" href="#"
            >Do Not Sell My Personal Information</a
          >
        </li>
      </ul>

      <div class="social">
        <ul class="social__list">
          <li class="social__item">
            <a class="social__link" href="#">
              <svg >
                <use xlink:href="images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a class="social__link" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
