<header class="header ">
  <div class="container">
    <div class="header__inner">
      <a class="logo" href="index.html">
         


        <picture class="logo__img">
          <source
            media="(min-width:650px)"
            srcset="images/logo.svg"
          />
          <source
            media="(min-width:465px)"
            srcset="images/logo-mobile.svg"
          />
          <img
            src="images/logo-mobile.svg"
            alt="logo"
            style="width: auto"
            width="90"
            height="90"
          />
        </picture>
      </a>
     
      <nav class="menu">
        <button class="burger" type="button">
          <span class="burger__lines"> </span>
        </button>
        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__list-link" href="index.html">Home</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="questions.html">Q&A</a>
          </li>
      
          <li class="menu__list-item">
            <a class="menu__list-link" href="catalog.html">Puppies</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="contact.html">Contact us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
