<section class="parents " id="parents">
    <div class="container">
      <h3 class="parents__title">Mom's & Dad's</h3>

      <div class="parents__inner">
        <article class="parents__box">
          <div class="parents__wrapper">
            <p class="parents__text">
              Multiple winner of the best shows. Excellent breeder!
            </p>
            <span class="parents__mom">Mom:</span>
            <ul class="parents__list">
              <li class="parents__list-item">young champion of Russia</li>
              <li class="parents__list-item">young champion of RKF</li>
              <li class="parents__list-item">
                young champion of the National Club
              </li>
              <li class="parents__list-item">Champion of Russia</li>
              <li class="parents__list-item">Champion of RKF</li>
            </ul>
          </div>
          <img class="parents__img" src="images/parents.webp" alt="" />
        </article>

        <article class="parents__box">
          <img class="parents__img" src="images/parents2.webp" alt="" />

          <div class="parents__wrapper">
            <span class="parents__dad">Dad:</span>
            <p class="parents__text">
              Imported from Poland. Young Champion of RKF!
            </p>
            <ul class="parents__list">
              <li class="parents__list-item">young champion of Russia</li>
              <li class="parents__list-item">young champion of RKF</li>
              <li class="parents__list-item">
                young champion of the National Club
              </li>
              <li class="parents__list-item">Champion of Russia</li>
              <li class="parents__list-item">Champion of RKF</li>
            </ul>
          </div>
        </article>
      </div>
    </div>
  </section>


  <section class="puppy " id="puppies">
    <div class="container">
      <h3 class="title">About our puppy</h3>

      <ul class="puppy__list">
        <li class="puppy__item">
          <article class="puppy__card">
            <img
              class="puppy__card-img"
              src="images/puppy1.webp"
              alt=""
              width="500"
              height="400"
            />

            <div class="puppy__wrapper">
              <h3 class="puppy__card-title">Lydney</h3>

              <ul class="puppy__card-wrapper">
                <li class="puppy__card-list">
                  <h4 class="puppy__card-subtitle">LITTER SIZE</h4>
                  <span
                    class="puppy__card-gender"
                    style="background-image: url('images/bitch.svg')"
                    >4 Bitch</span
                  >
                  <span
                    class="puppy__card-gender"
                    style="background-image: url('images/dog.svg')"
                    >6 Dog</span
                  >
                </li>
                <li class="puppy__card-list">
                  <h4 class="puppy__card-subtitle">BORN</h4>
                  <span class="puppy__card-age"
                    >10 weeks, 1 days ago</span
                  >
                </li>
              </ul>

              <h3 class="puppy__card-title">ABOUT THIS LITTER</h3>

              <p class="puppy__card-text">
                Truly first class litter of working strain that will
                complement any setting. Not to be missed!
                brynovationgundogs.co.uk
              </p>
            </div>
          </article>
        </li>
        <li class="puppy__item">
          <article class="puppy__card">
            <img
              class="puppy__card-img"
              src="images/puppy2.webp"
              alt=""
              width="500"
              height="400"
            />

            <div class="puppy__wrapper">
              <h3 class="puppy__card-title">Chesterfield</h3>

              <ul class="puppy__card-wrapper">
                <li class="puppy__card-list">
                  <h4 class="puppy__card-subtitle">LITTER SIZE</h4>
                  <span
                    class="puppy__card-gender"
                    style="background-image: url('images/bitch.svg')"
                    >5 Bitch</span
                  >
                  <span
                    class="puppy__card-gender"
                    style="background-image: url('images/dog.svg')"
                    >6 Dog</span
                  >
                </li>
                <li class="puppy__card-list">
                  <h4 class="puppy__card-subtitle">BORN</h4>
                  <span class="puppy__card-age">6 weeks, 0 days ago</span>
                </li>
              </ul>

              <h3 class="puppy__card-title">ABOUT THIS LITTER</h3>

              <p class="puppy__card-text">
                Fully health tested parents. Ready to be reserved now,
                viewings being arranged.
              </p>
            </div>
          </article>
        </li>
        <li class="puppy__item">
          <article class="puppy__card">
            <img
              class="puppy__card-img"
              src="images/puppy3.webp"
              alt=""
              width="500"
              height="400"
            />

            <div class="puppy__wrapper">
              <h3 class="puppy__card-title">Warrington</h3>

              <ul class="puppy__card-wrapper">
                <li class="puppy__card-list">
                  <h4 class="puppy__card-subtitle">LITTER SIZE</h4>
                  <span
                    class="puppy__card-gender"
                    style="background-image: url('images/bitch.svg')"
                    >5 Bitch</span
                  >
                  <span
                    class="puppy__card-gender"
                    style="background-image: url('images/dog.svg')"
                    >2 Dog</span
                  >
                </li>
                <li class="puppy__card-list">
                  <h4 class="puppy__card-subtitle">BORN</h4>
                  <span class="puppy__card-age">6 weeks, 4 days ago</span>
                </li>
              </ul>

              <h3 class="puppy__card-title">ABOUT THIS LITTER</h3>

              <p class="puppy__card-text">
                Born on Feb 19th, I have 1 bitch still available. Puppies
                are brought up in the home and are well socialised.
              </p>
            </div>
          </article>
        </li>
        <li class="puppy__item">
          <article class="puppy__card">
            <img
              class="puppy__card-img"
              src="images/puppy4.webp"
              alt=""
              width="500"
              height="400"
            />

            <div class="puppy__wrapper">
              <h3 class="puppy__card-title">Bournemouth</h3>

              <ul class="puppy__card-wrapper">
                <li class="puppy__card-list">
                  <h4 class="puppy__card-subtitle">LITTER SIZE</h4>
                  <span
                    class="puppy__card-gender"
                    style="background-image: url('images/bitch.svg')"
                    >2 Bitch</span
                  >
                  <span
                    class="puppy__card-gender"
                    style="background-image: url('images/dog.svg')"
                    >8 Dog</span
                  >
                </li>
                <li class="puppy__card-list">
                  <h4 class="puppy__card-subtitle">BORN</h4>
                  <span class="puppy__card-age">2 weeks, 6 days ago</span>
                </li>
              </ul>

              <h3 class="puppy__card-title">ABOUT THIS LITTER</h3>

              <p class="puppy__card-text">
                *one boy available* Dam from working lines, overseas sire
                from show lines. Both health tested with lovely
                temperaments.
              </p>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </section>

