<section class="benefits">
  <div class="container">
    <h2 class="section-title">Our Benefits</h2>

    <ul class="benefits__list">
      <li
        class="benefits__item"
        style="background-image: url('images/benefits1.svg')"
      >
        <h3 class="benefits__item-subtitle">AKC Registered</h3>
        <p class="benefits__item-text">
          Complete list of AKC recognized dog breeds. Includes personality,
          history, health, nutrition, grooming, pictures, videos and AKC breed
          standard.
        </p>
      </li>
      <li
        class="benefits__item"
        style="background-image: url('images/benefits2.svg')"
      >
        <h3 class="benefits__item-subtitle">Vaccinated</h3>
        <p class="benefits__item-text">
          At TCAP, the Rabies, DHPP, and Bordetella vaccines are considered your
          adult dog's core yearly vaccines. In this blog, we will explore the
          reason for each vaccine and why they are important.
        </p>
      </li>
      <li
        class="benefits__item"
        style="background-image: url('images/benefits3.svg')"
      >
        <h3 class="benefits__item-subtitle">Dewormed</h3>
        <p class="benefits__item-text">
          Your vet will give your dog medicine by mouth , a shot or use a
          topical dewormer (like Advantix, or Revolution) to kill the worms.
        </p>
      </li>
      <li
        class="benefits__item"
        style="background-image: url('images/benefits4.svg')"
      >
        <h3 class="benefits__item-subtitle">Vet Checked</h3>
        <p class="benefits__item-text">
          Your vet will check your dog over, including listening to their heart
          and lungs, running their hands over their abdomen to check for any
          unusual signs.
        </p>
      </li>
    </ul>
  </div>
</section>
