<section class="top">
  <div class="container">
  
      <h2 class="top__title title">Golden Retriever Kennel</h2>
      <a class="top__link button" href="#">Find a puppy</a>
      <p class="top__text">
        Leader of golden retrievers kennels in Russia and Europe. Single
        breed - golden retrievers. During the existence of the kennel
        since 2006, we have born 195.
      </p>
  
  </div>
</section>

<div class="slider">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url('../images/header-slide1.webp');"></div>
            <div class="swiper-slide" style="background-image: url('../images/header-slide2.webp');"></div>
            <div class="swiper-slide" style="background-image: url('../images/header-slide3.webp');"></div>
            <div class="swiper-slide" style="background-image: url('../images/header-slide4.webp');"></div>
       
            <div class="swiper-plagination"></div>
          </div>
      
    </div>
</div>
