<section class="video-leasing">
  <div class="container">
    <h2 class="section-title video-leasing__title">Welcome to our kennel channel</h2>
    <p class="video-leasing__text">Find out how easy it is for the First Time</p>

   

    <iframe
    class="video-leasing__content"
   
      src="https://www.youtube.com/embed/6arYXwuo27w"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</section>
