<section class="blog">
    <div class="container">
        <div class="blog__items">
            <div class="blog__item">
                <img class="blog__item-img" src="images/blog1.webp" alt="" >
                <h4 class="blog__item-title">An easier way to buy your next Toyota</h4>
                <a class="blog__item-link" href="#">more</a>
            </div>
            <div class="blog__item">
                <img class="blog__item-img" src="images/blog2.webp" alt="">
                <h4 class="blog__item-title">A Guide to Road-Tripping With Pets</h4>
                <a class="blog__item-link" href="#">more</a>
            </div>
        </div>
        <a class="blog__button button" href="#">SHOW MORE</a>
    </div>
</section>